.app {
  font-family: Arial, sans-serif;
}

/* barra q guarda os itens la em cima */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E74A88;
  padding: 10px 20px;
}

.logo {
  width: 90px;
  border-radius: 80px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu span {
  cursor: pointer;
  font-weight: 700;
  color: white;
}

.search-bar {
  width: 250px;
  align-items: center;
}

.search-bar input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.search-bar p {
  margin-right: 10px;
  color: rgb(255, 245, 245);
  margin-bottom: 7px;
  margin-left: 10px;
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 2.1rem;
  cursor: pointer;

}

/* Banner c swiper */
.banner {
  width: 100%;
  height: 100%;
  margin-top: 0.2px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
  display: block;
}

.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.swiper {
  overflow: hidden;
}

/* Barra frete la */
.info-barra {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: #ffc400;
}

.info-barra div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.nome {
  margin-top: 10px;
}

.preco {
  font-weight: bold;
}
